@charset "UTF-8";
@font-face {
  font-family: "Montserrat-regular";
  src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Playfair";
  src: url(../font/PlayfairDisplay.ttf);
}

html {
  scroll-behavior: smooth;
  background-image: url(../images/фон.jpg);
  background-attachment: fixed;
}

html h1, html h2, html li, html span, html p {
  font-family: "Montserrat-regular";
}

html a:visited, html a:link {
  text-decoration: none;
  color: inherit;
}

html nav {
  background-color: #e3d7d7e1;
  margin: -15px -8px;
  position: fixed;
  width: 100%;
  top: 0;
}

html nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html nav ul li {
  list-style-type: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html nav ul li img {
  margin-top: 1vw;
  width: 6vw;
}

html nav ul li:hover {
  text-shadow: 0 0 5px rgba(240, 164, 230, 0.9);
  cursor: pointer;
}

html header {
  background-color: rgba(234, 195, 195, 0.58);
  margin: 12vw -8px 0 -8px;
}

html header h2 {
  margin-left: 1.5vw;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Montserrat-regular";
}

html table, html td {
  border: 0.2vw dashed black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  vertical-align: top;
}

html .tab2 {
  margin-top: 20px;
}

html td {
  width: 35vw;
  height: 50vw;
  font-size: 1.2vw;
}

html .bl {
  background: rgba(119, 197, 222, 0.66);
  font-family: "Playfair";
  text-align: center;
}

html .pin {
  background: rgba(201, 64, 250, 0.19);
  font-family: "Playfair";
  text-align: center;
}

html table img {
  border-radius: 20px;
  width: 22vw;
  height: 16vw;
}

html .rose {
  width: 18vw;
  height: 25vw;
}

html h1 {
  font-family: "Montserrat-regular";
  margin-top: 0;
}

html .txt {
  text-align: left;
}

html .circle {
  margin-top: 0;
}

html footer {
  background-color: #E3D7D7;
  margin: 10vw -8px -8px -8px;
  padding: 2vw 0;
}

html footer h2, html footer p, html footer span {
  text-align: center;
}

html footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html footer .social-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

html footer .social-media a:hover {
  color: #523604;
  text-shadow: 0 0 8px rgba(236, 161, 76, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html footer .social-media a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  margin: 0 0.5vw 0 2vw;
}

html footer .social-media a img {
  width: 3vw;
  margin: 0 0.8vw 0 1.5vw;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

html footer .social-media a .telegram-icon {
  border-radius: 50px;
}

@media (max-width: 480px) {
  nav ul {
    padding-left: 5vw;
  }
  nav ul li {
    font-size: 2.5vw;
    padding: 0 2vw 0 0;
  }
  nav ul li img {
    margin-left: -2vw;
  }
  .txt {
    font-size: 2.5vw;
    margin: 4vw 2vw 0 -5vw;
  }
  footer h2 {
    font-size: 3vw;
  }
  footer p {
    font-size: 2vw;
  }
  footer span {
    font-size: 2.7vw;
  }
}

@media (min-width: 480px) {
  nav ul {
    padding-right: 0;
  }
  nav ul li {
    font-size: 1.8vw;
  }
  nav ul li img {
    margin-right: 0;
  }
  footer h2 {
    font-size: 2vw;
  }
  footer p {
    font-size: 1.5vw;
  }
  footer span {
    font-size: 1.8vw;
  }
}
/*# sourceMappingURL=characteristics.css.map */