@charset "UTF-8";
@font-face {
  font-family: "Montserrat-regular";
  src: url(../font/Montserrat-Regular.ttf);
}

html {
  scroll-behavior: smooth;
  background-image: url(../images/фон.jpg);
  background-attachment: fixed;
}

html h1, html h2, html h3, html li, html figcaption, html label, html select, html input, html span, html p {
  font-family: "Montserrat-regular";
}

html a:visited, html a:link {
  text-decoration: none;
  color: inherit;
}

html nav {
  background-color: #e3d7d7e1;
  margin: -15px -8px;
  position: fixed;
  width: 100%;
  top: 0;
}

html nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html nav ul li {
  list-style-type: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html nav ul li img {
  margin: 1vw 5vw 0 0;
  width: 6vw;
}

html nav ul li:hover {
  text-shadow: 0 0 5px rgba(240, 164, 230, 0.9);
  cursor: pointer;
}

html header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html header h1 {
  font-size: 4vw;
}

html header .header__img {
  -webkit-animation: header-anim 15s linear infinite alternate;
          animation: header-anim 15s linear infinite alternate;
  width: 30vw;
  height: 30vw;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.445);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.445);
}

html .choose h1 {
  text-align: center;
  margin-bottom: 5vw;
  font-size: 3vw;
}

html .choose .flowers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .choose .flowers .photo_1-3, html .choose .flowers .photo_4-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .choose .flowers .photo_1-3 figure img, html .choose .flowers .photo_4-6 figure img {
  width: 20vw;
  border-radius: 2vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

html .choose .flowers .photo_1-3 figure img:hover, html .choose .flowers .photo_4-6 figure img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 20px rgba(163, 41, 41, 0.5);
          box-shadow: 0 0 20px rgba(163, 41, 41, 0.5);
}

html .choose .flowers .photo_1-3 figure figcaption, html .choose .flowers .photo_4-6 figure figcaption {
  margin-top: 1vw;
  text-align: center;
}

html form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 6vw auto;
  background-color: #F0DEFC;
  border-radius: 2vw;
  -webkit-box-shadow: 0 0 5px #b805b8;
          box-shadow: 0 0 5px #b805b8;
  padding: 2vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html form:hover {
  -webkit-box-shadow: 0 0 15px #b805b8;
          box-shadow: 0 0 15px #b805b8;
  background-color: #ead4f8;
}

html form h2 {
  text-align: center;
  margin-bottom: 3vw;
}

html form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5vw;
}

html form div label {
  display: block;
}

html form div input, html form div select {
  border-radius: 1vw;
  padding: 0.5vw;
  border: 1px solid black;
}

html form div .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20vw;
}

html form div .radio input[type="radio"] {
  width: 2vw;
  height: 2vw;
}

html form div input[type="submit"] {
  margin: 3vw auto 0 auto;
  width: 20vw;
  background-color: #d49ff8;
  font-size: 1.5vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html form div input[type="submit"]:hover {
  background-color: #cb88f8;
  color: white;
}

html form div input[type="submit"]:active {
  background-color: #bf6af8;
}

html footer {
  background-color: #E3D7D7;
}

html footer h2, html footer p, html footer span {
  text-align: center;
}

html footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html footer .social-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

html footer .social-media a:hover {
  color: #523604;
  text-shadow: 0 0 8px rgba(236, 161, 76, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html footer .social-media a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  margin: 0 0.5vw 0 2vw;
}

html footer .social-media a img {
  width: 3vw;
  margin: 0 0.8vw 0 1.5vw;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 600px) {
  nav ul {
    padding-right: 5vw;
  }
  nav ul li {
    font-size: 2.5vw;
  }
  header {
    margin: 20vw 0;
  }
  .choose figcaption {
    font-size: 3vw;
  }
  form {
    width: 90vw;
  }
  form h2 {
    font-size: 4.5vw;
  }
  form label, form input, form select, form span {
    font-size: 4vw;
  }
  form label {
    width: 35vw;
  }
  form input {
    width: 30vw;
  }
  footer {
    padding: 1vw 0 8vw 0;
    margin: 10vw -8px -8px -8px;
  }
  footer h2 {
    font-size: 2.5vw;
  }
  footer p {
    font-size: 2.2vw;
  }
  footer span {
    font-size: 2.4vw;
  }
}

@media (min-width: 600px) {
  nav ul {
    padding-right: 0;
  }
  nav ul li {
    font-size: 1.8vw;
  }
  header {
    margin: 15vw 0;
  }
  .choose figcaption {
    font-size: 1.5vw;
  }
  form {
    width: 50vw;
  }
  form h2 {
    font-size: 1.9vw;
  }
  form label, form input, form select, form span {
    font-size: 1.3vw;
  }
  form label {
    width: 25vw;
  }
  form input {
    width: 20vw;
  }
  footer {
    padding: 1vw 0 4vw 0;
    margin: 0 -8px -8px -8px;
  }
  footer h2 {
    font-size: 2vw;
  }
  footer p {
    font-size: 1.5vw;
  }
  footer span {
    font-size: 1.8vw;
  }
}

@-webkit-keyframes header-anim {
  from {
    background-image: url(../images/header-img.jpg);
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
  }
  25% {
    background-image: url(../images/6.jpg);
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
  }
  50% {
    background-image: url(../images/5.jpg);
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
  }
  75% {
    background-image: url(../images/4.jpg);
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
  }
  to {
    background-image: url(../images/3.jpg);
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
  }
}

@keyframes header-anim {
  from {
    background-image: url(../images/header-img.jpg);
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
  }
  25% {
    background-image: url(../images/6.jpg);
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
  }
  50% {
    background-image: url(../images/5.jpg);
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
  }
  75% {
    background-image: url(../images/4.jpg);
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
  }
  to {
    background-image: url(../images/3.jpg);
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
  }
}
/*# sourceMappingURL=style.css.map */